.btn-default,
.btn-link,
.dropdown-toggle.btn-default {
  color: #212121;
}
.btn {
  padding: 0 0.8rem;
  margin: 0 0.4rem;
  outline: 0;
  outline-offset: 0;
  border: 0;
  border-radius: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus,
.btn.active:focus {
  outline: 0;
  outline-offset: 0;
  color: #212121;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-raised {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}
.btn-raised:active,
.btn-raised.active,
.btn-raised:active:hover,
.btn-raised.active:hover,
.btn-raised:active:focus,
.btn-raised.active:focus {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.btn-raised:hover,
.btn-raised:focus {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.btn.btn-circle {
  padding: 0;
  border-radius: 50%;
}
.btn-mc-red {
  color: rgba(255, 255, 255, 0.87);
  background-color: #e51c23;
}
.btn-mc-red:hover,
.btn-mc-red:focus,
.btn-mc-red:active,
.btn-mc-red.active,
.btn-mc-red:active:focus,
.btn-mc-red.active:focus {
  color: #ffffff;
}
.btn-mc-red:hover {
  background-color: #dd191d;
}
.btn-mc-red:active,
.btn-mc-red.active {
  background-color: #dd191d;
}
.btn-mc-red:focus {
  background-color: #d01716;
}
.btn-mc-red.disabled,
.btn-mc-red[disabled],
fieldset[disabled] .btn-mc-red,
.btn-mc-red.disabled:hover,
.btn-mc-red[disabled]:hover,
fieldset[disabled] .btn-mc-red:hover,
.btn-mc-red.disabled:focus,
.btn-mc-red[disabled]:focus,
fieldset[disabled] .btn-mc-red:focus,
.btn-mc-red.disabled:active,
.btn-mc-red[disabled]:active,
fieldset[disabled] .btn-mc-red:active,
.btn-mc-red.disabled.active,
.btn-mc-red[disabled].active,
fieldset[disabled] .btn-mc-red.active {
  color: rgba(255, 255, 255, 0.54);
  background-color: #b3b3b3;
  border-color: transparent;
}
.btn-mc-red .ink {
  background-color: #c41411;
}
.btn-flat.btn-mc-red {
  color: #e51c23;
  background-color: transparent;
}
.btn-flat.btn-mc-red:hover {
  color: #dd191d;
  background-color: #e5e5e5;
}
.btn-flat.btn-mc-red:active,
.btn-flat.btn-mc-red.active {
  color: #d01716;
  background-color: #d9d9d9;
}
.btn-flat.btn-mc-red:focus {
  color: #c41411;
  background-color: #d9d9d9;
}
.btn-flat.btn-mc-red .ink {
  background-color: #808080;
}
.btn-mc-pink {
  color: rgba(255, 255, 255, 0.87);
  background-color: #e91e63;
}
.btn-mc-pink:hover,
.btn-mc-pink:focus,
.btn-mc-pink:active,
.btn-mc-pink.active,
.btn-mc-pink:active:focus,
.btn-mc-pink.active:focus {
  color: #ffffff;
}
.btn-mc-pink:hover {
  background-color: #d81b60;
}
.btn-mc-pink:active,
.btn-mc-pink.active {
  background-color: #d81b60;
}
.btn-mc-pink:focus {
  background-color: #c2185b;
}
.btn-mc-pink.disabled,
.btn-mc-pink[disabled],
fieldset[disabled] .btn-mc-pink,
.btn-mc-pink.disabled:hover,
.btn-mc-pink[disabled]:hover,
fieldset[disabled] .btn-mc-pink:hover,
.btn-mc-pink.disabled:focus,
.btn-mc-pink[disabled]:focus,
fieldset[disabled] .btn-mc-pink:focus,
.btn-mc-pink.disabled:active,
.btn-mc-pink[disabled]:active,
fieldset[disabled] .btn-mc-pink:active,
.btn-mc-pink.disabled.active,
.btn-mc-pink[disabled].active,
fieldset[disabled] .btn-mc-pink.active {
  color: rgba(255, 255, 255, 0.54);
  background-color: #b3b3b3;
  border-color: transparent;
}
.btn-mc-pink .ink {
  background-color: #ad1457;
}
.btn-flat.btn-mc-pink {
  color: #e91e63;
  background-color: transparent;
}
.btn-flat.btn-mc-pink:hover {
  color: #d81b60;
  background-color: #e5e5e5;
}
.btn-flat.btn-mc-pink:active,
.btn-flat.btn-mc-pink.active {
  color: #c2185b;
  background-color: #d9d9d9;
}
.btn-flat.btn-mc-pink:focus {
  color: #ad1457;
  background-color: #d9d9d9;
}
.btn-flat.btn-mc-pink .ink {
  background-color: #808080;
}
.btn-mc-purple {
  color: rgba(255, 255, 255, 0.87);
  background-color: #9c27b0;
}
.btn-mc-purple:hover,
.btn-mc-purple:focus,
.btn-mc-purple:active,
.btn-mc-purple.active,
.btn-mc-purple:active:focus,
.btn-mc-purple.active:focus {
  color: #ffffff;
}
.btn-mc-purple:hover {
  background-color: #8e24aa;
}
.btn-mc-purple:active,
.btn-mc-purple.active {
  background-color: #8e24aa;
}
.btn-mc-purple:focus {
  background-color: #7b1fa2;
}
.btn-mc-purple.disabled,
.btn-mc-purple[disabled],
fieldset[disabled] .btn-mc-purple,
.btn-mc-purple.disabled:hover,
.btn-mc-purple[disabled]:hover,
fieldset[disabled] .btn-mc-purple:hover,
.btn-mc-purple.disabled:focus,
.btn-mc-purple[disabled]:focus,
fieldset[disabled] .btn-mc-purple:focus,
.btn-mc-purple.disabled:active,
.btn-mc-purple[disabled]:active,
fieldset[disabled] .btn-mc-purple:active,
.btn-mc-purple.disabled.active,
.btn-mc-purple[disabled].active,
fieldset[disabled] .btn-mc-purple.active {
  color: rgba(255, 255, 255, 0.54);
  background-color: #b3b3b3;
  border-color: transparent;
}
.btn-mc-purple .ink {
  background-color: #6a1b9a;
}
.btn-flat.btn-mc-purple {
  color: #9c27b0;
  background-color: transparent;
}
.btn-flat.btn-mc-purple:hover {
  color: #8e24aa;
  background-color: #e5e5e5;
}
.btn-flat.btn-mc-purple:active,
.btn-flat.btn-mc-purple.active {
  color: #7b1fa2;
  background-color: #d9d9d9;
}
.btn-flat.btn-mc-purple:focus {
  color: #6a1b9a;
  background-color: #d9d9d9;
}
.btn-flat.btn-mc-purple .ink {
  background-color: #808080;
}
.btn-mc-deep-purple {
  color: rgba(255, 255, 255, 0.87);
  background-color: #673ab7;
}
.btn-mc-deep-purple:hover,
.btn-mc-deep-purple:focus,
.btn-mc-deep-purple:active,
.btn-mc-deep-purple.active,
.btn-mc-deep-purple:active:focus,
.btn-mc-deep-purple.active:focus {
  color: #ffffff;
}
.btn-mc-deep-purple:hover {
  background-color: #5e35b1;
}
.btn-mc-deep-purple:active,
.btn-mc-deep-purple.active {
  background-color: #5e35b1;
}
.btn-mc-deep-purple:focus {
  background-color: #512da8;
}
.btn-mc-deep-purple.disabled,
.btn-mc-deep-purple[disabled],
fieldset[disabled] .btn-mc-deep-purple,
.btn-mc-deep-purple.disabled:hover,
.btn-mc-deep-purple[disabled]:hover,
fieldset[disabled] .btn-mc-deep-purple:hover,
.btn-mc-deep-purple.disabled:focus,
.btn-mc-deep-purple[disabled]:focus,
fieldset[disabled] .btn-mc-deep-purple:focus,
.btn-mc-deep-purple.disabled:active,
.btn-mc-deep-purple[disabled]:active,
fieldset[disabled] .btn-mc-deep-purple:active,
.btn-mc-deep-purple.disabled.active,
.btn-mc-deep-purple[disabled].active,
fieldset[disabled] .btn-mc-deep-purple.active {
  color: rgba(255, 255, 255, 0.54);
  background-color: #b3b3b3;
  border-color: transparent;
}
.btn-mc-deep-purple .ink {
  background-color: #4527a0;
}
.btn-flat.btn-mc-deep-purple {
  color: #673ab7;
  background-color: transparent;
}
.btn-flat.btn-mc-deep-purple:hover {
  color: #5e35b1;
  background-color: #e5e5e5;
}
.btn-flat.btn-mc-deep-purple:active,
.btn-flat.btn-mc-deep-purple.active {
  color: #512da8;
  background-color: #d9d9d9;
}
.btn-flat.btn-mc-deep-purple:focus {
  color: #4527a0;
  background-color: #d9d9d9;
}
.btn-flat.btn-mc-deep-purple .ink {
  background-color: #808080;
}
.btn-mc-indigo {
  color: rgba(255, 255, 255, 0.87);
  background-color: #3f51b5;
}
.btn-mc-indigo:hover,
.btn-mc-indigo:focus,
.btn-mc-indigo:active,
.btn-mc-indigo.active,
.btn-mc-indigo:active:focus,
.btn-mc-indigo.active:focus {
  color: #ffffff;
}
.btn-mc-indigo:hover {
  background-color: #3949ab;
}
.btn-mc-indigo:active,
.btn-mc-indigo.active {
  background-color: #3949ab;
}
.btn-mc-indigo:focus {
  background-color: #303f9f;
}
.btn-mc-indigo.disabled,
.btn-mc-indigo[disabled],
fieldset[disabled] .btn-mc-indigo,
.btn-mc-indigo.disabled:hover,
.btn-mc-indigo[disabled]:hover,
fieldset[disabled] .btn-mc-indigo:hover,
.btn-mc-indigo.disabled:focus,
.btn-mc-indigo[disabled]:focus,
fieldset[disabled] .btn-mc-indigo:focus,
.btn-mc-indigo.disabled:active,
.btn-mc-indigo[disabled]:active,
fieldset[disabled] .btn-mc-indigo:active,
.btn-mc-indigo.disabled.active,
.btn-mc-indigo[disabled].active,
fieldset[disabled] .btn-mc-indigo.active {
  color: rgba(255, 255, 255, 0.54);
  background-color: #b3b3b3;
  border-color: transparent;
}
.btn-mc-indigo .ink {
  background-color: #283593;
}
.btn-flat.btn-mc-indigo {
  color: #3f51b5;
  background-color: transparent;
}
.btn-flat.btn-mc-indigo:hover {
  color: #3949ab;
  background-color: #e5e5e5;
}
.btn-flat.btn-mc-indigo:active,
.btn-flat.btn-mc-indigo.active {
  color: #303f9f;
  background-color: #d9d9d9;
}
.btn-flat.btn-mc-indigo:focus {
  color: #283593;
  background-color: #d9d9d9;
}
.btn-flat.btn-mc-indigo .ink {
  background-color: #808080;
}
.btn-mc-blue {
  color: rgba(255, 255, 255, 0.87);
  background-color: #5677fc;
}
.btn-mc-blue:hover,
.btn-mc-blue:focus,
.btn-mc-blue:active,
.btn-mc-blue.active,
.btn-mc-blue:active:focus,
.btn-mc-blue.active:focus {
  color: #ffffff;
}
.btn-mc-blue:hover {
  background-color: #4e6cef;
}
.btn-mc-blue:active,
.btn-mc-blue.active {
  background-color: #4e6cef;
}
.btn-mc-blue:focus {
  background-color: #455ede;
}
.btn-mc-blue.disabled,
.btn-mc-blue[disabled],
fieldset[disabled] .btn-mc-blue,
.btn-mc-blue.disabled:hover,
.btn-mc-blue[disabled]:hover,
fieldset[disabled] .btn-mc-blue:hover,
.btn-mc-blue.disabled:focus,
.btn-mc-blue[disabled]:focus,
fieldset[disabled] .btn-mc-blue:focus,
.btn-mc-blue.disabled:active,
.btn-mc-blue[disabled]:active,
fieldset[disabled] .btn-mc-blue:active,
.btn-mc-blue.disabled.active,
.btn-mc-blue[disabled].active,
fieldset[disabled] .btn-mc-blue.active {
  color: rgba(255, 255, 255, 0.54);
  background-color: #b3b3b3;
  border-color: transparent;
}
.btn-mc-blue .ink {
  background-color: #3b50ce;
}
.btn-flat.btn-mc-blue {
  color: #5677fc;
  background-color: transparent;
}
.btn-flat.btn-mc-blue:hover {
  color: #4e6cef;
  background-color: #e5e5e5;
}
.btn-flat.btn-mc-blue:active,
.btn-flat.btn-mc-blue.active {
  color: #455ede;
  background-color: #d9d9d9;
}
.btn-flat.btn-mc-blue:focus {
  color: #3b50ce;
  background-color: #d9d9d9;
}
.btn-flat.btn-mc-blue .ink {
  background-color: #808080;
}
.btn-mc-light-blue {
  color: rgba(255, 255, 255, 0.87);
  background-color: #03a9f4;
}
.btn-mc-light-blue:hover,
.btn-mc-light-blue:focus,
.btn-mc-light-blue:active,
.btn-mc-light-blue.active,
.btn-mc-light-blue:active:focus,
.btn-mc-light-blue.active:focus {
  color: #ffffff;
}
.btn-mc-light-blue:hover {
  background-color: #039be5;
}
.btn-mc-light-blue:active,
.btn-mc-light-blue.active {
  background-color: #039be5;
}
.btn-mc-light-blue:focus {
  background-color: #0288d1;
}
.btn-mc-light-blue.disabled,
.btn-mc-light-blue[disabled],
fieldset[disabled] .btn-mc-light-blue,
.btn-mc-light-blue.disabled:hover,
.btn-mc-light-blue[disabled]:hover,
fieldset[disabled] .btn-mc-light-blue:hover,
.btn-mc-light-blue.disabled:focus,
.btn-mc-light-blue[disabled]:focus,
fieldset[disabled] .btn-mc-light-blue:focus,
.btn-mc-light-blue.disabled:active,
.btn-mc-light-blue[disabled]:active,
fieldset[disabled] .btn-mc-light-blue:active,
.btn-mc-light-blue.disabled.active,
.btn-mc-light-blue[disabled].active,
fieldset[disabled] .btn-mc-light-blue.active {
  color: rgba(255, 255, 255, 0.54);
  background-color: #b3b3b3;
  border-color: transparent;
}
.btn-mc-light-blue .ink {
  background-color: #0277bd;
}
.btn-flat.btn-mc-light-blue {
  color: #03a9f4;
  background-color: transparent;
}
.btn-flat.btn-mc-light-blue:hover {
  color: #039be5;
  background-color: #e5e5e5;
}
.btn-flat.btn-mc-light-blue:active,
.btn-flat.btn-mc-light-blue.active {
  color: #0288d1;
  background-color: #d9d9d9;
}
.btn-flat.btn-mc-light-blue:focus {
  color: #0277bd;
  background-color: #d9d9d9;
}
.btn-flat.btn-mc-light-blue .ink {
  background-color: #808080;
}
.btn-mc-cyan {
  color: rgba(255, 255, 255, 0.87);
  background-color: #00bcd4;
}
.btn-mc-cyan:hover,
.btn-mc-cyan:focus,
.btn-mc-cyan:active,
.btn-mc-cyan.active,
.btn-mc-cyan:active:focus,
.btn-mc-cyan.active:focus {
  color: #ffffff;
}
.btn-mc-cyan:hover {
  background-color: #00acc1;
}
.btn-mc-cyan:active,
.btn-mc-cyan.active {
  background-color: #00acc1;
}
.btn-mc-cyan:focus {
  background-color: #0097a7;
}
.btn-mc-cyan.disabled,
.btn-mc-cyan[disabled],
fieldset[disabled] .btn-mc-cyan,
.btn-mc-cyan.disabled:hover,
.btn-mc-cyan[disabled]:hover,
fieldset[disabled] .btn-mc-cyan:hover,
.btn-mc-cyan.disabled:focus,
.btn-mc-cyan[disabled]:focus,
fieldset[disabled] .btn-mc-cyan:focus,
.btn-mc-cyan.disabled:active,
.btn-mc-cyan[disabled]:active,
fieldset[disabled] .btn-mc-cyan:active,
.btn-mc-cyan.disabled.active,
.btn-mc-cyan[disabled].active,
fieldset[disabled] .btn-mc-cyan.active {
  color: rgba(255, 255, 255, 0.54);
  background-color: #b3b3b3;
  border-color: transparent;
}
.btn-mc-cyan .ink {
  background-color: #00838f;
}
.btn-flat.btn-mc-cyan {
  color: #00bcd4;
  background-color: transparent;
}
.btn-flat.btn-mc-cyan:hover {
  color: #00acc1;
  background-color: #e5e5e5;
}
.btn-flat.btn-mc-cyan:active,
.btn-flat.btn-mc-cyan.active {
  color: #0097a7;
  background-color: #d9d9d9;
}
.btn-flat.btn-mc-cyan:focus {
  color: #00838f;
  background-color: #d9d9d9;
}
.btn-flat.btn-mc-cyan .ink {
  background-color: #808080;
}
.btn-mc-teal {
  color: rgba(255, 255, 255, 0.87);
  background-color: #009688;
}
.btn-mc-teal:hover,
.btn-mc-teal:focus,
.btn-mc-teal:active,
.btn-mc-teal.active,
.btn-mc-teal:active:focus,
.btn-mc-teal.active:focus {
  color: #ffffff;
}
.btn-mc-teal:hover {
  background-color: #00897b;
}
.btn-mc-teal:active,
.btn-mc-teal.active {
  background-color: #00897b;
}
.btn-mc-teal:focus {
  background-color: #00796b;
}
.btn-mc-teal.disabled,
.btn-mc-teal[disabled],
fieldset[disabled] .btn-mc-teal,
.btn-mc-teal.disabled:hover,
.btn-mc-teal[disabled]:hover,
fieldset[disabled] .btn-mc-teal:hover,
.btn-mc-teal.disabled:focus,
.btn-mc-teal[disabled]:focus,
fieldset[disabled] .btn-mc-teal:focus,
.btn-mc-teal.disabled:active,
.btn-mc-teal[disabled]:active,
fieldset[disabled] .btn-mc-teal:active,
.btn-mc-teal.disabled.active,
.btn-mc-teal[disabled].active,
fieldset[disabled] .btn-mc-teal.active {
  color: rgba(255, 255, 255, 0.54);
  background-color: #b3b3b3;
  border-color: transparent;
}
.btn-mc-teal .ink {
  background-color: #00695c;
}
.btn-flat.btn-mc-teal {
  color: #009688;
  background-color: transparent;
}
.btn-flat.btn-mc-teal:hover {
  color: #00897b;
  background-color: #e5e5e5;
}
.btn-flat.btn-mc-teal:active,
.btn-flat.btn-mc-teal.active {
  color: #00796b;
  background-color: #d9d9d9;
}
.btn-flat.btn-mc-teal:focus {
  color: #00695c;
  background-color: #d9d9d9;
}
.btn-flat.btn-mc-teal .ink {
  background-color: #808080;
}
.btn-mc-green {
  color: rgba(255, 255, 255, 0.87);
  background-color: #259b24;
}
.btn-mc-green:hover,
.btn-mc-green:focus,
.btn-mc-green:active,
.btn-mc-green.active,
.btn-mc-green:active:focus,
.btn-mc-green.active:focus {
  color: #ffffff;
}
.btn-mc-green:hover {
  background-color: #0a8f08;
}
.btn-mc-green:active,
.btn-mc-green.active {
  background-color: #0a8f08;
}
.btn-mc-green:focus {
  background-color: #0a7e07;
}
.btn-mc-green.disabled,
.btn-mc-green[disabled],
fieldset[disabled] .btn-mc-green,
.btn-mc-green.disabled:hover,
.btn-mc-green[disabled]:hover,
fieldset[disabled] .btn-mc-green:hover,
.btn-mc-green.disabled:focus,
.btn-mc-green[disabled]:focus,
fieldset[disabled] .btn-mc-green:focus,
.btn-mc-green.disabled:active,
.btn-mc-green[disabled]:active,
fieldset[disabled] .btn-mc-green:active,
.btn-mc-green.disabled.active,
.btn-mc-green[disabled].active,
fieldset[disabled] .btn-mc-green.active {
  color: rgba(255, 255, 255, 0.54);
  background-color: #b3b3b3;
  border-color: transparent;
}
.btn-mc-green .ink {
  background-color: #0a7e07;
}
.btn-flat.btn-mc-green {
  color: #259b24;
  background-color: transparent;
}
.btn-flat.btn-mc-green:hover {
  color: #0a8f08;
  background-color: #e5e5e5;
}
.btn-flat.btn-mc-green:active,
.btn-flat.btn-mc-green.active {
  color: #0a7e07;
  background-color: #d9d9d9;
}
.btn-flat.btn-mc-green:focus {
  color: #0a7e07;
  background-color: #d9d9d9;
}
.btn-flat.btn-mc-green .ink {
  background-color: #808080;
}
.btn-mc-light-green {
  color: rgba(255, 255, 255, 0.87);
  background-color: #8bc34a;
}
.btn-mc-light-green:hover,
.btn-mc-light-green:focus,
.btn-mc-light-green:active,
.btn-mc-light-green.active,
.btn-mc-light-green:active:focus,
.btn-mc-light-green.active:focus {
  color: #ffffff;
}
.btn-mc-light-green:hover {
  background-color: #7cb342;
}
.btn-mc-light-green:active,
.btn-mc-light-green.active {
  background-color: #7cb342;
}
.btn-mc-light-green:focus {
  background-color: #689f38;
}
.btn-mc-light-green.disabled,
.btn-mc-light-green[disabled],
fieldset[disabled] .btn-mc-light-green,
.btn-mc-light-green.disabled:hover,
.btn-mc-light-green[disabled]:hover,
fieldset[disabled] .btn-mc-light-green:hover,
.btn-mc-light-green.disabled:focus,
.btn-mc-light-green[disabled]:focus,
fieldset[disabled] .btn-mc-light-green:focus,
.btn-mc-light-green.disabled:active,
.btn-mc-light-green[disabled]:active,
fieldset[disabled] .btn-mc-light-green:active,
.btn-mc-light-green.disabled.active,
.btn-mc-light-green[disabled].active,
fieldset[disabled] .btn-mc-light-green.active {
  color: rgba(255, 255, 255, 0.54);
  background-color: #b3b3b3;
  border-color: transparent;
}
.btn-mc-light-green .ink {
  background-color: #558b2f;
}
.btn-flat.btn-mc-light-green {
  color: #8bc34a;
  background-color: transparent;
}
.btn-flat.btn-mc-light-green:hover {
  color: #7cb342;
  background-color: #e5e5e5;
}
.btn-flat.btn-mc-light-green:active,
.btn-flat.btn-mc-light-green.active {
  color: #689f38;
  background-color: #d9d9d9;
}
.btn-flat.btn-mc-light-green:focus {
  color: #558b2f;
  background-color: #d9d9d9;
}
.btn-flat.btn-mc-light-green .ink {
  background-color: #808080;
}
.btn-mc-lime {
  color: rgba(255, 255, 255, 0.87);
  background-color: #cddc39;
}
.btn-mc-lime:hover,
.btn-mc-lime:focus,
.btn-mc-lime:active,
.btn-mc-lime.active,
.btn-mc-lime:active:focus,
.btn-mc-lime.active:focus {
  color: #ffffff;
}
.btn-mc-lime:hover {
  background-color: #c0ca33;
}
.btn-mc-lime:active,
.btn-mc-lime.active {
  background-color: #c0ca33;
}
.btn-mc-lime:focus {
  background-color: #afb42b;
}
.btn-mc-lime.disabled,
.btn-mc-lime[disabled],
fieldset[disabled] .btn-mc-lime,
.btn-mc-lime.disabled:hover,
.btn-mc-lime[disabled]:hover,
fieldset[disabled] .btn-mc-lime:hover,
.btn-mc-lime.disabled:focus,
.btn-mc-lime[disabled]:focus,
fieldset[disabled] .btn-mc-lime:focus,
.btn-mc-lime.disabled:active,
.btn-mc-lime[disabled]:active,
fieldset[disabled] .btn-mc-lime:active,
.btn-mc-lime.disabled.active,
.btn-mc-lime[disabled].active,
fieldset[disabled] .btn-mc-lime.active {
  color: rgba(255, 255, 255, 0.54);
  background-color: #b3b3b3;
  border-color: transparent;
}
.btn-mc-lime .ink {
  background-color: #9e9d24;
}
.btn-flat.btn-mc-lime {
  color: #cddc39;
  background-color: transparent;
}
.btn-flat.btn-mc-lime:hover {
  color: #c0ca33;
  background-color: #e5e5e5;
}
.btn-flat.btn-mc-lime:active,
.btn-flat.btn-mc-lime.active {
  color: #afb42b;
  background-color: #d9d9d9;
}
.btn-flat.btn-mc-lime:focus {
  color: #9e9d24;
  background-color: #d9d9d9;
}
.btn-flat.btn-mc-lime .ink {
  background-color: #808080;
}
.btn-mc-yellow {
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffeb3b;
}
.btn-mc-yellow:hover,
.btn-mc-yellow:focus,
.btn-mc-yellow:active,
.btn-mc-yellow.active,
.btn-mc-yellow:active:focus,
.btn-mc-yellow.active:focus {
  color: #ffffff;
}
.btn-mc-yellow:hover {
  background-color: #fdd835;
}
.btn-mc-yellow:active,
.btn-mc-yellow.active {
  background-color: #fdd835;
}
.btn-mc-yellow:focus {
  background-color: #fbc02d;
}
.btn-mc-yellow.disabled,
.btn-mc-yellow[disabled],
fieldset[disabled] .btn-mc-yellow,
.btn-mc-yellow.disabled:hover,
.btn-mc-yellow[disabled]:hover,
fieldset[disabled] .btn-mc-yellow:hover,
.btn-mc-yellow.disabled:focus,
.btn-mc-yellow[disabled]:focus,
fieldset[disabled] .btn-mc-yellow:focus,
.btn-mc-yellow.disabled:active,
.btn-mc-yellow[disabled]:active,
fieldset[disabled] .btn-mc-yellow:active,
.btn-mc-yellow.disabled.active,
.btn-mc-yellow[disabled].active,
fieldset[disabled] .btn-mc-yellow.active {
  color: rgba(255, 255, 255, 0.54);
  background-color: #b3b3b3;
  border-color: transparent;
}
.btn-mc-yellow .ink {
  background-color: #f9a825;
}
.btn-flat.btn-mc-yellow {
  color: #ffeb3b;
  background-color: transparent;
}
.btn-flat.btn-mc-yellow:hover {
  color: #fdd835;
  background-color: #e5e5e5;
}
.btn-flat.btn-mc-yellow:active,
.btn-flat.btn-mc-yellow.active {
  color: #fbc02d;
  background-color: #d9d9d9;
}
.btn-flat.btn-mc-yellow:focus {
  color: #f9a825;
  background-color: #d9d9d9;
}
.btn-flat.btn-mc-yellow .ink {
  background-color: #808080;
}
.btn-mc-amber {
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffc107;
}
.btn-mc-amber:hover,
.btn-mc-amber:focus,
.btn-mc-amber:active,
.btn-mc-amber.active,
.btn-mc-amber:active:focus,
.btn-mc-amber.active:focus {
  color: #ffffff;
}
.btn-mc-amber:hover {
  background-color: #ffb300;
}
.btn-mc-amber:active,
.btn-mc-amber.active {
  background-color: #ffb300;
}
.btn-mc-amber:focus {
  background-color: #ffa000;
}
.btn-mc-amber.disabled,
.btn-mc-amber[disabled],
fieldset[disabled] .btn-mc-amber,
.btn-mc-amber.disabled:hover,
.btn-mc-amber[disabled]:hover,
fieldset[disabled] .btn-mc-amber:hover,
.btn-mc-amber.disabled:focus,
.btn-mc-amber[disabled]:focus,
fieldset[disabled] .btn-mc-amber:focus,
.btn-mc-amber.disabled:active,
.btn-mc-amber[disabled]:active,
fieldset[disabled] .btn-mc-amber:active,
.btn-mc-amber.disabled.active,
.btn-mc-amber[disabled].active,
fieldset[disabled] .btn-mc-amber.active {
  color: rgba(255, 255, 255, 0.54);
  background-color: #b3b3b3;
  border-color: transparent;
}
.btn-mc-amber .ink {
  background-color: #ff8f00;
}
.btn-flat.btn-mc-amber {
  color: #0D7717;
  background-color: transparent;
}
.btn-flat.btn-mc-amber:hover {
  color: #ffb300;
  background-color: #e5e5e5;
}
.btn-flat.btn-mc-amber:active,
.btn-flat.btn-mc-amber.active {
  color: #ffa000;
  background-color: #d9d9d9;
}
.btn-flat.btn-mc-amber:focus {
  color: #ff8f00;
  background-color: #d9d9d9;
}
.btn-flat.btn-mc-amber .ink {
  background-color: #808080;
}
.btn-mc-orange {
  color: rgba(255, 255, 255, 0.87);
  background-color: #ff9800;
}
.btn-mc-orange:hover,
.btn-mc-orange:focus,
.btn-mc-orange:active,
.btn-mc-orange.active,
.btn-mc-orange:active:focus,
.btn-mc-orange.active:focus {
  color: #ffffff;
}
.btn-mc-orange:hover {
  background-color: #fb8c00;
}
.btn-mc-orange:active,
.btn-mc-orange.active {
  background-color: #fb8c00;
}
.btn-mc-orange:focus {
  background-color: #f57c00;
}
.btn-mc-orange.disabled,
.btn-mc-orange[disabled],
fieldset[disabled] .btn-mc-orange,
.btn-mc-orange.disabled:hover,
.btn-mc-orange[disabled]:hover,
fieldset[disabled] .btn-mc-orange:hover,
.btn-mc-orange.disabled:focus,
.btn-mc-orange[disabled]:focus,
fieldset[disabled] .btn-mc-orange:focus,
.btn-mc-orange.disabled:active,
.btn-mc-orange[disabled]:active,
fieldset[disabled] .btn-mc-orange:active,
.btn-mc-orange.disabled.active,
.btn-mc-orange[disabled].active,
fieldset[disabled] .btn-mc-orange.active {
  color: rgba(255, 255, 255, 0.54);
  background-color: #b3b3b3;
  border-color: transparent;
}
.btn-mc-orange .ink {
  background-color: #ef6c00;
}
.btn-flat.btn-mc-orange {
  color: #ff9800;
  background-color: transparent;
}
.btn-flat.btn-mc-orange:hover {
  color: #fb8c00;
  background-color: #e5e5e5;
}
.btn-flat.btn-mc-orange:active,
.btn-flat.btn-mc-orange.active {
  color: #f57c00;
  background-color: #d9d9d9;
}
.btn-flat.btn-mc-orange:focus {
  color: #ef6c00;
  background-color: #d9d9d9;
}
.btn-flat.btn-mc-orange .ink {
  background-color: #808080;
}
.btn-mc-deep-orange {
  color: rgba(255, 255, 255, 0.87);
  background-color: #ff5722;
}
.btn-mc-deep-orange:hover,
.btn-mc-deep-orange:focus,
.btn-mc-deep-orange:active,
.btn-mc-deep-orange.active,
.btn-mc-deep-orange:active:focus,
.btn-mc-deep-orange.active:focus {
  color: #ffffff;
}
.btn-mc-deep-orange:hover {
  background-color: #f4511e;
}
.btn-mc-deep-orange:active,
.btn-mc-deep-orange.active {
  background-color: #f4511e;
}
.btn-mc-deep-orange:focus {
  background-color: #e64a19;
}
.btn-mc-deep-orange.disabled,
.btn-mc-deep-orange[disabled],
fieldset[disabled] .btn-mc-deep-orange,
.btn-mc-deep-orange.disabled:hover,
.btn-mc-deep-orange[disabled]:hover,
fieldset[disabled] .btn-mc-deep-orange:hover,
.btn-mc-deep-orange.disabled:focus,
.btn-mc-deep-orange[disabled]:focus,
fieldset[disabled] .btn-mc-deep-orange:focus,
.btn-mc-deep-orange.disabled:active,
.btn-mc-deep-orange[disabled]:active,
fieldset[disabled] .btn-mc-deep-orange:active,
.btn-mc-deep-orange.disabled.active,
.btn-mc-deep-orange[disabled].active,
fieldset[disabled] .btn-mc-deep-orange.active {
  color: rgba(255, 255, 255, 0.54);
  background-color: #b3b3b3;
  border-color: transparent;
}
.btn-mc-deep-orange .ink {
  background-color: #d84315;
}
.btn-flat.btn-mc-deep-orange {
  color: #ff5722;
  background-color: transparent;
}
.btn-flat.btn-mc-deep-orange:hover {
  color: #f4511e;
  background-color: #e5e5e5;
}
.btn-flat.btn-mc-deep-orange:active,
.btn-flat.btn-mc-deep-orange.active {
  color: #e64a19;
  background-color: #d9d9d9;
}
.btn-flat.btn-mc-deep-orange:focus {
  color: #d84315;
  background-color: #d9d9d9;
}
.btn-flat.btn-mc-deep-orange .ink {
  background-color: #808080;
}
.btn-base {
  min-width: 8.8rem;
  height: 3.6rem;
  font-size: 1.4rem;
  line-height: 3.6rem;
}
.btn-base.btn-circle {
  height: 5.6rem;
  width: 5.6rem;
  min-width: 5.6rem;
  font-size: 2.4rem;
  line-height: 5.6rem;
}
.btn-large {
  min-width: 12.2rem;
  height: 4.8rem;
  font-size: 1.6rem;
  line-height: 4.8rem;
}
.btn-large.btn-circle {
  height: 7.2rem;
  width: 7.2rem;
  min-width: 7.2rem;
  font-size: 3.2rem;
  line-height: 7.2rem;
}
.btn-small {
  min-width: 6.4rem;
  height: 3.6rem;
  font-size: 1.2rem;
  line-height: 3.6rem;
}
.btn-small.btn-circle {
  height: 4.8rem;
  width: 4.8rem;
  min-width: 4.8rem;
  font-size: 2.4rem;
  line-height: 4.8rem;
}
.btn-xs {
  min-width: 4.6rem;
  height: 3.2rem;
  font-size: 1rem;
  line-height: 3.2rem;
}
.btn-xs.btn-circle {
  height: 4rem;
  width: 4rem;
  min-width: 4rem;
  font-size: 2.4rem;
  line-height: 4rem;
}
