.red {
	color: #fff;
	background-color: #d9534f;
}
.green {
	color: #fff;
	background-color: #5cb85c;
}
.yellow {
	color: #fff;
	background-color: #f0ad4e;
}
.orange {
	color: #fff;
	background-color: #f95d08;
}
.pad {
	padding-top: 1px;
	padding-bottom: 1px;
}
.s {
	text-decoration: line-through;
}
.form-control {
	color: #1f1f1f;
	font-weight: 700;
}
/* all */
::-webkit-input-placeholder {
	color:#4d4d4d;
	font-weight: 300;
}
::-moz-placeholder {
	color:#4d4d4d;
	font-weight: 300;
} /* firefox 19+ */
:-ms-input-placeholder {
	color:#4d4d4d;
	font-weight: 300;
} /* ie */
input:-moz-placeholder {
	color:#4d4d4d;
	font-weight: 300;
}
.money {
	width: 50%;
	text-align: center;
}
.money th {
	text-align: center;
}
.dropdown-menu {
	min-width: 300px;
}
.mybtn {
	padding: 0px 2px;
}
caption h1 {
    padding-top: 0px;
    padding-bottom: 0px;
    color: #474747;
    font-size: 30px;
}
.text-red {
    color: #d9534f;
}